doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dashboard
  link(rel='stylesheet' href='/static/dashboard.css')
  script(src='https://kit.fontawesome.com/a076d05399.js')
.container
  .rows
    .left
     p Globiliti   
      .icons
        .row
          i.fas.fa-home
          .info
            .head Home
        .row
          i.fas.fa-inbox 
          .info
            .head Inbox
        .row
          i.fas.fa-envelope
          .info
            .head Team
        hr
        p Team members
        .icons
        .row
          i.fas.fa-user
          .info
            .head Abc
        .row
          i.fas.fa-user 
          .info
            .head XYZ
        .row
          i.fas.fa-user
          .info
            .head PQr
        //
          <ul>
          <li>Home</li>
          <li>My Photos</li>
          <li>Inbox</li>
          <li>My team</li>
          </ul>
    //-   .lower
    //-     ul
    //-       li ABC
    //-       li ABC
    //-       li ABC
    //-       li ABC
    .right
      p  Welcome to globiliti